* {
    padding: 0;
    margin:  0;
    list-style: none;
    box-sizing: border-box;
    color: white;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
}
header {
    background-color: #007400;
    text-align: center;
    position: fixed;
    width: 100%;
}
header h2 {
    padding: 20px 40px;
}
header nav {
    position: absolute;
    background-color: #007400;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: left;
    opacity: 0;
    transition: opacity 250ms ease-in-out 50ms;
}
header nav li{
    text-decoration: none;
    margin-bottom: 1em;
    margin-left: 1em;
}
header nav li a {
    text-decoration: none;
    text-transform: uppercase;
    display: none;
}
header nav li a:hover {
    color: black;
    transition: .1s;
}
.checkbox:checked ~ nav {
    opacity: 1;
}
.checkbox:checked ~ nav li a {
    display: block;
}
.checkbox {
    display: none;
}
header label {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}
header label span,
header label span::before,
header label span::after {
    display: block;
    position: relative;
    height: 2px;
    width: 2em;
    background-color: white;
}
header label span::before,
header label span::after {
    position: absolute;
    content: "";
}
header label span::before {
    top: 7px;
}
header label span::after {
    bottom: 7px;
}
